LBH_BUNDLE_IDENTIFIER = com.theysayheygreg.lastsingularity
LBH_DEVELOPMENT_TEAM =
LBH_IOS_DEPLOYMENT_TARGET = 17.0
LBH_SIM_SERVER_URL =

PRODUCT_BUNDLE_IDENTIFIER = $(LBH_BUNDLE_IDENTIFIER)
DEVELOPMENT_TEAM = $(LBH_DEVELOPMENT_TEAM)
IPHONEOS_DEPLOYMENT_TARGET = $(LBH_IOS_DEPLOYMENT_TARGET)
CODE_SIGN_STYLE = Automatic
SWIFT_VERSION = 5.9

#include? "Local.xcconfig"
